<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= nav_bar brand: image_tag("logo_new.svg", height: '28'), brand_link: root_path  %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
